@model IEnumerable<E_Book_eproject.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Watch Shop</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                   <partial name="Categories" /> 
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                    </div>
                    <!-- Select items -->

             <partial name="SubCategory" />
                    
                    @* <div class="select-this">
                            <div class="select-itms">
                   
                        
                                <select name="select" id="select1">
                       
                                    <option value="">40 per page</option>
                                    <option value="">50 per page</option>
                                    <option value="">60 per page</option>
                                    <option value="">70 per page</option>
                                </select>
                            </div>
                        
                    </div> *@

                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                    @foreach (var item in Model)

                    {
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <!-- Inline style to set image height -->
                                    <a asp-action="ProductDetails" asp-route-id="@item.Id" asp-controller="Product"><img src="@item.Image" style=" width:auto; height:300px;"></a>
                                    <div class="img-cap">
                                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                                            <input type="hidden" name="ProductId" value="@item.Id" />
                                            <input type="hidden" name="qty" class="input-box" value="1" min="1">
                                            <button type="submit" class="btn btn-primary btn-md">Add to Cart</button>
                                        </form>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a asp-action="MyCart" asp-route-id="@item.Id" asp-controller="Cart">@item.Name</a></h3>
                                    <span>@item.Price</span>
                                </div>
                            </div>
                        </div>
                    }
                        </div>
                    </div>  
                    </div>
            </div>
        </section>
        <!-- Latest Products End -->