@model IEnumerable<E_Book_eproject.Models.CheckoutViewModel>

@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Cart List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================Cart Area =================-->

<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Delete</th>

                        </tr>
                    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="@item.Image"  />
                                        </div>
                                        <div class="media-body">
                                            <p>@item.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@item.Price</h5>
                                </td>
                                <td>
                                    <h5> @item.Quantity</h5>
                                     @* div class="product_count">
                                         <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                                         <input class="input-number"  type="text" value="1" min="0" max="10">
                                         <span class="input-number-increment"> <i class="ti-plus"></i></span>
                                     </div> *@
                                </td>
                                <td>
                                    <h5>@(item.Quantity * item.Price)</h5>
                                </td>

                                <td>

                                    <form asp-action="Delete" asp-controller="Cart">
                                        <input type="hidden" name="cartid" value="@item.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
           @*  <tr>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.Image</td>
                <td>@(item.Quantity * item.Price)</td>
            </tr> *@
        }
    </tbody>
</table>

<div>
    <h4>Total Amount: @Model.Sum(i => i.Quantity * i.Price)</h4>
</div>
             </div>
       </div>
        <tr class="bottom_button">
            <td>
                <a asp-action="checkout" asp-controller="Cart" class="btn_1">Update Cart</a>
            </td>
            <td></td>
            <td></td>
            <td>
                <div class="cupon_text float-right">
                    <a class="btn_3" asp-action="Shop" asp-controller="Home">Close Coupon</a>
                </div>
            </td>
        </tr>

   </div>
   
</section>

